* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #222f56;
    --secondary-color: #052995;
}

body {
    background-color: var(--primary-color) !important;
}

.movies {
    background-color: var(--secondary-color) !important;
    position: relative;
    height: 850px;
}

img {
    width: 100%;
}

#main {
    display: flex;
    flex-wrap: wrap;
}


.movie_content_box {
    padding: 10px;
}

.movie_content_box h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.movie_content_box p {
    font-size: 14px;
    margin-bottom: 10px;
    color: white;
}

span p {
    width: 50px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}
.button{
margin-left: 50%;
margin-bottom: 100px;

}

#buttonn{
	border: 5px solid #042774;
	width: 150px;
	height: 50px;
	background-color: #acd2f1;
	border-radius: 6px;
    text-align: center;
	font-size: 17px;
	color: #0c0941;
}


